version: "3.8"

services:

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"   # HTTP
      - "9000:9000"   # Native
    volumes:
      - clickhouse:/var/lib/clickhouse
    environment:
      CLICKHOUSE_DB: analytics
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: ""
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: "1"
      

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    depends_on:
      - clickhouse
    ports:
      - "3001:3000"
    environment:
      MB_DB_TYPE: h2
      JAVA_TIMEZONE: UTC
    volumes:
      - metabase:/metabase-data

  
volumes:
  clickhouse:
  metabase: